@font-face {
    font-family: myFont;
    src: url(snes.ttf);
}


:root{
    --gradient: linear-gradient(
        to right, 
        rgb(158, 225, 254), 
        rgb(245, 209, 255)
    );
}

@keyframes bg-animation {
    0% {background-position: top left}
    100% {background-position: bottom right;}
}

body{  
    font-family: myFont;
    background-image: var(--gradient);
    background-size: 200%;
    animation: bg-animation 8s infinite alternate;
}

.selections {
    display: flex;
    justify-content: center;
} 

.selection{
    font-size: 70px;
    cursor: pointer;
    border: none;
    background: none;
    margin: 10px;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.img{
    float: top;
    width: 150px;
    border: 5px solid black;
    border-radius: 30px;
}

.results {
    font-size: 45px;
    margin-top: 1rem;
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: 0.1rem;
    font-size: 1.5rem;
    color: #333;
}

.result-selection{
    opacity: 0.8;
}

.winner{
    opacity:1;
    font-size: 60px;
}